<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <remove name="DefaultConnection" />
    <!--<add name="BlogConnection" connectionString="Data Source=NOMAN-EJAZ001\MSSQLSERVER2016;Initial Catalog=BlogDB;Persist Security Info=True;User ID=sa;Password=P@ssw0rd; MultipleActiveResultSets=true" providerName="system.data.sqlclient" />-->
    <add name="BlogConnection" connectionString="Data Source=WALEED-R90RCFQ8\SQLEXPRESS; initial catalog=BlogDB;user ID=sa;password=P@ssw0rd!@#;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments="exec &quot;C:\Users\w.alshinawi\Downloads\Blog6\Blog.CoreApi\bin\Debug\netcoreapp2.2\Blog.CoreApi.dll&quot;" stdoutLogEnabled="false" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>